body {
  font-family: Arial;
  background: #f2f5f8;
  text-align: center;
  padding: 40px;
}

input, button {
  padding: 10px;
  margin: 6px;
}

#result {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#printable-area{
  width: 190mm;
  min-height: 277mm;
  margin:auto;
  background:white;
}
.marksheet {
 width: 100%;
 max-width: 750px;
 margin: auto;
 background: white;
 padding: 25px;
 border: 12px double var(--primary);
 box-sizing: border-box;
 overflow: hidden;
}
